.container_nav {
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
    animation: glowPulse 2s ease-in-out infinite;
  }
  
  @keyframes glowPulse {
    0% {
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }
    50% {
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }
  }
  